{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron text-center mt-5">
    <h2>Connexion</h2>
</div>

<form action="{{ path('security_login')}}" method="post">
    <div class="from-group mt-5">
        <input placeholder="Adresse email" required name="_username" type="text" class="form-control">
    </div>
    <div class="from-group mt-3">
        <input placeholder="Mot de passe" required name="_password" type="password" class="form-control">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-secondary mt-3">
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Connexion</font>
            </font>
        </button>
    </div>
</form>

{% endblock %}