:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  }






*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
    background-color: lightgrey;
}

/*mise forme nav*/
.utilisateur{
    color: white;
   font-size: 2rem;
}

nav{
    background-color: rgb(53, 94, 128);
}

/*Mise en forme /templates/forum/index.html.twig */
section.home{
    height: 40rem;
    background-color:  #1abc9c;
}

div.home{
    background-color:  #1abc9c;
    height: 100%;
}

.fa-hand-peace{
    font-size: 15rem;
}

.fa-dove{
    font-size: 8rem;
}

.iconeCat{
    font-size:4rem;
    color:rgb(53, 94, 128);
}


/* pages d'erreur*/

.oiseau404{
    transform: rotate(230deg);
    font-size: 15rem;
}

.icone503{
    font-size: 15rem;  
}

.icone504{
    font-size: 15rem; 
    }

.icone403{
    font-size: 18rem;
    color: crimson; 
}

.statut404{
    font-size: 13rem;  
}

.statut503, .statut403, .statut504{
    font-size: 12rem;  
}


/* Mise en forme du signalement de contenu report.html.twig */

 .motifSignalement{
   font-weight: bold;
 }  